<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="xmlJdbcConnection" class="com.dan.spring.myfirstspring.xmlexample.XmlJdbcConnection" scope="prototype">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="xmlPerson" class="com.dan.spring.myfirstspring.xmlexample.XmlPerson">
        <property name="XMLJdbcConnection" ref="xmlJdbcConnection"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="xmlOtherPerson" class="com.dan.spring.myfirstspring.xmlexample.XmlOtherPerson">
        <property name="xmlJdbcConnection" ref="xmlJdbcConnection"/>
    </bean>

    <bean id="xmlDoor" class="com.dan.spring.myfirstspring.xmlexample.XmlDoor" scope="prototype">

    </bean>

    <bean id="xmlHouse" class="com.dan.spring.myfirstspring.xmlexample.XmlHouse" scope="prototype">
        <property name="xmlDoor" ref="xmlDoor"/>
    </bean>

    <!-- more bean definitions go here -->

</beans>